/* 引用：Ｇoogle字體 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC&display=swap');

body {
  /* font-family：字體 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  color: rgb(1, 1, 1);
}

a {
color: #5334F5; 
/* text-decoration：底線 */
text-decoration: none;
/* font-weight：字體粗細 */
font-weight:600;
}

.Hero{
  background: url('../images/Wave006.png');
  height: 920px;
  /* background-size cover：背景展開填滿 */
  background-size: cover;
  background-position: center;
  position: relative;
}

.Hero1{
  background: url('../images/Wave004.png');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Hero2{
  background: url('../images/Wave005.png');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}


/* HeroGroup：群組 */
.HeroGroup {
  /* margin 0 auto：邊界至中 */
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 150px;
  /* text-align: center：文字至中 */
  text-align: center;
}


.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  /* opacity：不透明度為０ */
  opacity: 0;
  /* 啟動事先設定好的動畫效果：時間３s */
  animation: HeroAnimation;
  animation-duration: 3s;
  /* animation-delay：時間延遲 */
  animation-delay: 0.3s;
  /* animation-fill-mode：動畫顯示後表現
   forwards 固定在前*/
  animation-fill-mode: forwards;
  /* animation-timing-function：動畫顯示速度設定*/
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
}



.Hero1 h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  /* opacity：不透明度為０ */
  opacity: 0;
  /* 啟動事先設定好的動畫效果：時間３s */
  animation: HeroAnimation;
  animation-duration: 3s;
  /* animation-delay：時間延遲 */
  animation-delay: 0.3s;
  /* animation-fill-mode：動畫顯示後表現
   forwards 固定在前*/
  animation-fill-mode: forwards;
  /* animation-timing-function：動畫顯示速度設定*/
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
}

.Hero2 h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  /* opacity：不透明度為０ */
  opacity: 0;
  /* 啟動事先設定好的動畫效果：時間３s */
  animation: HeroAnimation;
  animation-duration: 3s;
  /* animation-delay：時間延遲 */
  animation-delay: 0.3s;
  /* animation-fill-mode：動畫顯示後表現
   forwards 固定在前*/
  animation-fill-mode: forwards;
  /* animation-timing-function：動畫顯示速度設定*/
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
}





.Hero p {
   /* rgba(255,255, 255, 0.8)：0＝黑 255=白 0.8不透明度 */
  color: rgba(255,255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
/* animation：動畫簡短設定 重點 */
animation: HeroAnimation 3s forwards cubic-bezier(0.2,0.8,0.2,1);
}



.Hero1 p {
  /* rgba(255,255, 255, 0.8)：0＝黑 255=白 0.8不透明度 */
 color: rgba(255,255, 255, 0.8);
 font-size: 30px;
 line-height: 1.5;
/* animation：動畫簡短設定 重點 */
animation: HeroAnimation 3s forwards cubic-bezier(0.2,0.8,0.2,1);
}

.Hero2 p {
  /* rgba(255,255, 255, 0.8)：0＝黑 255=白 0.8不透明度 */
 color: rgba(255,255, 255, 0.8);
 font-size: 30px;
 line-height: 1.5;
/* animation：動畫簡短設定 重點 */
animation: HeroAnimation 3s forwards cubic-bezier(0.2,0.8,0.2,1);
}


 /* a：連結代號 */
.Hero a {
font-size: 17px;
font-weight: 600;
color: white;
/* text-transform: uppercase：字體轉換 變大 */
text-transform: uppercase;
background: rgba(0,0, 0, 0.8);
/* padding：內邊距 */
padding: 9px 20px;
/* border：邊框 */
border: 1px solid rgba(255, 255green, 255blue, 0.25alpha);
/* border-radius：邊框圓角 */
border-radius: 20px;
transition: 0.8s cubic-bezier(0.2,0.82-,0.2,1);
}


.Hero1 a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  /* text-transform: uppercase：字體轉換 變大 */
  text-transform: uppercase;
  background: rgba(0,0, 0, 0.8);
  /* padding：內邊距 */
  padding: 9px 20px;
  /* border：邊框 */
  border: 1px solid rgba(255, 255green, 255blue, 0.25alpha);
  /* border-radius：邊框圓角 */
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2,0.82-,0.2,1);
  }

  .Hero2 a {
    font-size: 17px;
    font-weight: 600;
    color: white;
    /* text-transform: uppercase：字體轉換 變大 */
    text-transform: uppercase;
    background: rgba(0,0, 0, 0.8);
    /* padding：內邊距 */
    padding: 9px 20px;
    /* border：邊框 */
    border: 1px solid rgba(255, 255green, 255blue, 0.25alpha);
    /* border-radius：邊框圓角 */
    border-radius: 20px;
    transition: 0.8s cubic-bezier(0.2,0.82-,0.2,1);
    }



/* .Hero a:hover：內容變換設定 */
.Hero a:hover{
  background: white;
  color: black;
}



.Hero1 a:hover{
  background: white;
  color: black;
}


.Hero2 a:hover{
  background: white;
  color: black;
}



@media (max-width: 640px) {
  .Header{
      padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
}
.Hero p {
    font-size: 24px;
  }
}

/* @keyframes HeroAnimation : 建立名為HeroAnimation的動畫 */
@keyframes HeroAnimation {
  /* 在下方20px的位置移動到正確位置 */
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* svg  position：絕對位置 */
.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}


.Hero1 svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero2 svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3,1fr)
  }
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  /* 漸變色背景 設定 */ 
  background: linear-gradient(104deg, #050A27 0%,#4A548C 100%);
   /* 漸變色文字 設定 */
  -webkit-background-clip: text;
     /* 漸變色文字 透明 */
  -webkit-text-fill-color: transparent;  
}



/* CardGroup變成一排 對齊排開 */
.CardGroup {
margin: 50px 40px 100px;
display: grid;
/* 網格一排設定 */
grid-template-columns: repeat(3,1fr);
/* 網格間距 */
grid-gap: 40px;
/* 自動對齊中間 */
justify-items: center;
}

/* 設定寬度多少時 內容物會顯示多少 以下設定為當寬度在1060px 則顯示 2個 Card */
@media (max-width: 1060px) {
  .CardGroup{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup{
    grid-template-columns: repeat(1,1fr);
  }
}